--- 
const platform = "github";
const username = "withET";
---

<footer>
    <p>Saiba mais sobre mim e meus projetos aqui<a href={'https://www.${platform}.com/${username}'}>{platform}</a>!</p>
</footer>