--- 
const platform = "github";
const username = "withET";
---

<footer>
    <p>Saiba mais sobre mim e meus projetos aqui <a href={'https://github.com/henripacheco27'}>{platform}</a>!</p>
</footer>
<style>
    footer{
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>