---
const {platform, username} = Astro.props;
---

<a href="https://www.reddit.com/user/henripacheco27/">Reddit</a>

<style>
    a{
        padding: 0.5rem 1rem;
        color: rgb(217, 146, 22);
        background-color: black;
        text-decoration: none;
    }
</style>